.card {
    background-color: var(--clr-bg-card-day);
    display: flex;
    flex-flow: column;
    min-width: 200px;
    padding: 1rem 0.4rem;
    /* justify-content: space-around; */
    align-items: center;
    border-radius: 1rem;
    color: black;
    max-height: 260px;
    max-width: 150px;
}

.card > h1 {
    font-size: 3.2rem;
}

.card > img {
    width: 100%;
    max-width: 100px;
}

.card > span {
    font-size: 0.9rem;
} 

.card > * {
    margin: 0;
}


.card.dark {
    background-color: rgb(8, 8, 53);
    color: aliceblue;
}