.cards-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    gap: 1rem;
    padding: 3rem 1rem;
    border-radius: 2rem;
    min-height: 400px;
    border: solid 4px black;
}

.cards-wrapper > h1 {
    width: 100%;
    padding-inline: 2rem;
    color: rgb(18, 4, 89);
    margin: 0;
}