.card {
    background-color: rgb(184, 223, 239);
    display: flex;
    flex-flow: column;
    min-width: 200px;
    padding: 2rem 0.2rem;
    justify-content: space-around;
    align-items: center;
    border-radius: 1rem;
    color: black;
    max-height: 200px;
}

.card > h1 {
    font-size: 3.5rem;
}

.card > img {
    width: 100%;
    max-width: 100px;
}

.card > * {
    margin: 0;
}


.card.dark {
    background-color: rgb(8, 8, 53);
    color: aliceblue;
}