.card {
    background-color: skyblue;
    display: flex;
    flex-flow: column;
    min-width: 200px;
    padding: 2rem 0.2rem;
    justify-content: space-around;
    align-items: center;
    border-radius: 1rem;
    color: black;
    max-height: 200px;
}

.card > h1 {
    font-size: 4rem;
    font-weight: 900;
}

.card > img {
    width: 100%;
    max-width: 100px;
}

.card > * {
    margin: 0;
}


.card.dark {
    background-color: rgb(12, 12, 75);
    color: aliceblue;
}